.About {
    min-height: 85vh;
    padding: 0rem 2rem;
}

.About--title{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2rem;
    margin: 10px 0px;
}

.About--image-box {
    width: 100%;
    text-align: center;
}

.About--image {
    height: 20rem;
    border: 1px solid black;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.About--image:hover {
    filter: grayscale(0%);
}


.About--name {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.2rem;
    text-align: center;
}

.About--text {
  font-family: 'Courier Prime', monospace;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0.5rem 0;
}

.About--subgroup {
  margin: 1rem 0;
}

.About--subgroup ul {
  padding-left: 1.5rem;
  margin: 0.5rem 0 0 1rem;
}

.About--subgroup li {
  margin-bottom: 0.4rem;
  text-indent: -0.5rem;
}

.About--side-heading {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.2rem;
    font-weight: 500;
}

.About--experience {
    font-family: 'Courier Prime', monospace;
    font-size: 1.1rem;
}

.About--experience-item {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.About--experience-item-company {
    font-weight: bold;
    margin: 0;
}

.About--experience-item-role {
    font-style: italic;
    margin: 0;
}

.About--experience-item-duration {
    margin: 0;
}

.About--experience-item-description {
    margin-top: 5px;
}

.About--skills {
    font-family: 'Courier Prime', monospace;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.About--skills-item{
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.About--education {
    font-family: 'Courier Prime', monospace;
    font-size: 1.1rem;
}

.About--education-item {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.About--education-item-institute {
    margin: 0px;
}

.About--education-item-standard {
    font-style: italic;
    font-size: 0.9rem;
    margin: 0px;
}

.About--education-item-duration {
    margin: 0px;
}

@media screen and (max-width:900px) {
    .About--image{
        height: 16rem;
    }

    .About--title{
        font-size: 1.5rem;
    }

    .About--experience {
        font-size: 1.1rem;
    }

    .About--experience-item {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 0;
    }

    .About--experience-item-description {
        font-size: 1rem;
    }

    .About--education{
        font-size: 1.1rem;
    }

    .About--education-item {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 0px;
    }

}
